<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fnjsw.mapper.FamilyplanningcertificateMapper" >
  <resultMap id="BaseResultMap" type="fnjsw.entity.Familyplanningcertificate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ocaId" property="ocaid" jdbcType="INTEGER" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="uploadTime" property="uploadtime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ocaId, filename, uploadTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="fnjsw.entity.FamilyplanningcertificateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from familyplanningcertificate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from familyplanningcertificate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from familyplanningcertificate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="fnjsw.entity.FamilyplanningcertificateExample" >
    delete from familyplanningcertificate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="fnjsw.entity.Familyplanningcertificate" >
    insert into familyplanningcertificate (id, ocaId, filename, 
      uploadTime)
    values (#{id,jdbcType=INTEGER}, #{ocaid,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, 
      #{uploadtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="fnjsw.entity.Familyplanningcertificate" >
    insert into familyplanningcertificate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ocaid != null" >
        ocaId,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="uploadtime != null" >
        uploadTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ocaid != null" >
        #{ocaid,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="fnjsw.entity.FamilyplanningcertificateExample" resultType="java.lang.Integer" >
    select count(*) from familyplanningcertificate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update familyplanningcertificate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ocaid != null" >
        ocaId = #{record.ocaid,jdbcType=INTEGER},
      </if>
      <if test="record.filename != null" >
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadtime != null" >
        uploadTime = #{record.uploadtime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update familyplanningcertificate
    set id = #{record.id,jdbcType=INTEGER},
      ocaId = #{record.ocaid,jdbcType=INTEGER},
      filename = #{record.filename,jdbcType=VARCHAR},
      uploadTime = #{record.uploadtime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="fnjsw.entity.Familyplanningcertificate" >
    update familyplanningcertificate
    <set >
      <if test="ocaid != null" >
        ocaId = #{ocaid,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        uploadTime = #{uploadtime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="fnjsw.entity.Familyplanningcertificate" >
    update familyplanningcertificate
    set ocaId = #{ocaid,jdbcType=INTEGER},
      filename = #{filename,jdbcType=VARCHAR},
      uploadTime = #{uploadtime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>