<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fnjsw.mapper.OnechildarchivesMapper" >
  <resultMap id="BaseResultMap" type="fnjsw.entity.Onechildarchives" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fName" property="fname" jdbcType="VARCHAR" />
    <result column="fIdCardNo" property="fidcardno" jdbcType="VARCHAR" />
    <result column="fPhone" property="fphone" jdbcType="VARCHAR" />
    <result column="marriageIdNo" property="marriageidno" jdbcType="VARCHAR" />
    <result column="fPermanentAddress" property="fpermanentaddress" jdbcType="VARCHAR" />
    <result column="fpHouseNo" property="fphouseno" jdbcType="VARCHAR" />
    <result column="fAddress" property="faddress" jdbcType="VARCHAR" />
    <result column="faHouseNo" property="fahouseno" jdbcType="VARCHAR" />
    <result column="fCompanyName" property="fcompanyname" jdbcType="VARCHAR" />
    <result column="fCompanyAddr" property="fcompanyaddr" jdbcType="VARCHAR" />
    <result column="mName" property="mname" jdbcType="VARCHAR" />
    <result column="mIdCardNo" property="midcardno" jdbcType="VARCHAR" />
    <result column="mPhone" property="mphone" jdbcType="VARCHAR" />
    <result column="mPermanentAddress" property="mpermanentaddress" jdbcType="VARCHAR" />
    <result column="mpHouseNo" property="mphouseno" jdbcType="VARCHAR" />
    <result column="mAddress" property="maddress" jdbcType="VARCHAR" />
    <result column="maHouseNo" property="mahouseno" jdbcType="VARCHAR" />
    <result column="mCompanyName" property="mcompanyname" jdbcType="VARCHAR" />
    <result column="mCompanyAddr" property="mcompanyaddr" jdbcType="VARCHAR" />
    <result column="maritalStatus" property="maritalstatus" jdbcType="VARCHAR" />
    <result column="marriageNo" property="marriageno" jdbcType="VARCHAR" />
    <result column="marriageDate" property="marriagedate" jdbcType="DATE" />
    <result column="hasChild" property="haschild" jdbcType="VARCHAR" />
    <result column="isAdopted" property="isadopted" jdbcType="VARCHAR" />
    <result column="residenceNo" property="residenceno" jdbcType="VARCHAR" />
    <result column="getResidenceDate" property="getresidencedate" jdbcType="DATE" />
    <result column="registrationAddr" property="registrationaddr" jdbcType="VARCHAR" />
    <result column="serviceNo" property="serviceno" jdbcType="VARCHAR" />
    <result column="registrationDate" property="registrationdate" jdbcType="DATE" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="opPhone" property="opphone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="zhunShengZheng" property="zhunshengzheng" jdbcType="VARCHAR" />
    <result column="lastServiceTime" property="lastservicetime" jdbcType="DATE" />
    <result column="lastServiceResult" property="lastserviceresult" jdbcType="VARCHAR" />
    <result column="lastServicePerson" property="lastserviceperson" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="fnjsw.entity.Onechildarchives" extends="BaseResultMap" >
    <result column="comment" property="comment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fName, fIdCardNo, fPhone, marriageIdNo, fPermanentAddress, fpHouseNo, fAddress,
    faHouseNo, fCompanyName, fCompanyAddr, mName, mIdCardNo, mPhone, mPermanentAddress,
    mpHouseNo, mAddress, maHouseNo, mCompanyName, mCompanyAddr, maritalStatus, marriageNo,
    marriageDate, hasChild, isAdopted, residenceNo, getResidenceDate, registrationAddr,
    serviceNo, registrationDate, operator, opPhone, status, zhunShengZheng, lastServiceTime,
    lastServiceResult, lastServicePerson
  </sql>
  <sql id="Blob_Column_List" >
    comment
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="fnjsw.entity.OnechildarchivesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from onechildarchives
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="fnjsw.entity.OnechildarchivesExample" >
    <include refid="MySqlDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from onechildarchives
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MySqlDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from onechildarchives
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from onechildarchives
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="fnjsw.entity.OnechildarchivesExample" >
    delete from onechildarchives
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="fnjsw.entity.Onechildarchives" >
    insert into onechildarchives (id, fName, fIdCardNo,
      fPhone, marriageIdNo, fPermanentAddress,
      fpHouseNo, fAddress, faHouseNo,
      fCompanyName, fCompanyAddr, mName,
      mIdCardNo, mPhone, mPermanentAddress,
      mpHouseNo, mAddress, maHouseNo,
      mCompanyName, mCompanyAddr, maritalStatus,
      marriageNo, marriageDate, hasChild,
      isAdopted, residenceNo, getResidenceDate,
      registrationAddr, serviceNo, registrationDate,
      operator, opPhone, status,
      zhunShengZheng, lastServiceTime, lastServiceResult,
      lastServicePerson, comment)
    values (#{id,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR}, #{fidcardno,jdbcType=VARCHAR},
      #{fphone,jdbcType=VARCHAR}, #{marriageidno,jdbcType=VARCHAR}, #{fpermanentaddress,jdbcType=VARCHAR},
      #{fphouseno,jdbcType=VARCHAR}, #{faddress,jdbcType=VARCHAR}, #{fahouseno,jdbcType=VARCHAR},
      #{fcompanyname,jdbcType=VARCHAR}, #{fcompanyaddr,jdbcType=VARCHAR}, #{mname,jdbcType=VARCHAR},
      #{midcardno,jdbcType=VARCHAR}, #{mphone,jdbcType=VARCHAR}, #{mpermanentaddress,jdbcType=VARCHAR},
      #{mphouseno,jdbcType=VARCHAR}, #{maddress,jdbcType=VARCHAR}, #{mahouseno,jdbcType=VARCHAR},
      #{mcompanyname,jdbcType=VARCHAR}, #{mcompanyaddr,jdbcType=VARCHAR}, #{maritalstatus,jdbcType=VARCHAR},
      #{marriageno,jdbcType=VARCHAR}, #{marriagedate,jdbcType=DATE}, #{haschild,jdbcType=VARCHAR},
      #{isadopted,jdbcType=VARCHAR}, #{residenceno,jdbcType=VARCHAR}, #{getresidencedate,jdbcType=DATE},
      #{registrationaddr,jdbcType=VARCHAR}, #{serviceno,jdbcType=VARCHAR}, #{registrationdate,jdbcType=DATE},
      #{operator,jdbcType=VARCHAR}, #{opphone,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{zhunshengzheng,jdbcType=VARCHAR}, #{lastservicetime,jdbcType=DATE}, #{lastserviceresult,jdbcType=VARCHAR},
      #{lastserviceperson,jdbcType=VARCHAR}, #{comment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="fnjsw.entity.Onechildarchives" >
    insert into onechildarchives
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fname != null" >
        fName,
      </if>
      <if test="fidcardno != null" >
        fIdCardNo,
      </if>
      <if test="fphone != null" >
        fPhone,
      </if>
      <if test="marriageidno != null" >
        marriageIdNo,
      </if>
      <if test="fpermanentaddress != null" >
        fPermanentAddress,
      </if>
      <if test="fphouseno != null" >
        fpHouseNo,
      </if>
      <if test="faddress != null" >
        fAddress,
      </if>
      <if test="fahouseno != null" >
        faHouseNo,
      </if>
      <if test="fcompanyname != null" >
        fCompanyName,
      </if>
      <if test="fcompanyaddr != null" >
        fCompanyAddr,
      </if>
      <if test="mname != null" >
        mName,
      </if>
      <if test="midcardno != null" >
        mIdCardNo,
      </if>
      <if test="mphone != null" >
        mPhone,
      </if>
      <if test="mpermanentaddress != null" >
        mPermanentAddress,
      </if>
      <if test="mphouseno != null" >
        mpHouseNo,
      </if>
      <if test="maddress != null" >
        mAddress,
      </if>
      <if test="mahouseno != null" >
        maHouseNo,
      </if>
      <if test="mcompanyname != null" >
        mCompanyName,
      </if>
      <if test="mcompanyaddr != null" >
        mCompanyAddr,
      </if>
      <if test="maritalstatus != null" >
        maritalStatus,
      </if>
      <if test="marriageno != null" >
        marriageNo,
      </if>
      <if test="marriagedate != null" >
        marriageDate,
      </if>
      <if test="haschild != null" >
        hasChild,
      </if>
      <if test="isadopted != null" >
        isAdopted,
      </if>
      <if test="residenceno != null" >
        residenceNo,
      </if>
      <if test="getresidencedate != null" >
        getResidenceDate,
      </if>
      <if test="registrationaddr != null" >
        registrationAddr,
      </if>
      <if test="serviceno != null" >
        serviceNo,
      </if>
      <if test="registrationdate != null" >
        registrationDate,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="opphone != null" >
        opPhone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="zhunshengzheng != null" >
        zhunShengZheng,
      </if>
      <if test="lastservicetime != null" >
        lastServiceTime,
      </if>
      <if test="lastserviceresult != null" >
        lastServiceResult,
      </if>
      <if test="lastserviceperson != null" >
        lastServicePerson,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fname != null" >
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fidcardno != null" >
        #{fidcardno,jdbcType=VARCHAR},
      </if>
      <if test="fphone != null" >
        #{fphone,jdbcType=VARCHAR},
      </if>
      <if test="marriageidno != null" >
        #{marriageidno,jdbcType=VARCHAR},
      </if>
      <if test="fpermanentaddress != null" >
        #{fpermanentaddress,jdbcType=VARCHAR},
      </if>
      <if test="fphouseno != null" >
        #{fphouseno,jdbcType=VARCHAR},
      </if>
      <if test="faddress != null" >
        #{faddress,jdbcType=VARCHAR},
      </if>
      <if test="fahouseno != null" >
        #{fahouseno,jdbcType=VARCHAR},
      </if>
      <if test="fcompanyname != null" >
        #{fcompanyname,jdbcType=VARCHAR},
      </if>
      <if test="fcompanyaddr != null" >
        #{fcompanyaddr,jdbcType=VARCHAR},
      </if>
      <if test="mname != null" >
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="midcardno != null" >
        #{midcardno,jdbcType=VARCHAR},
      </if>
      <if test="mphone != null" >
        #{mphone,jdbcType=VARCHAR},
      </if>
      <if test="mpermanentaddress != null" >
        #{mpermanentaddress,jdbcType=VARCHAR},
      </if>
      <if test="mphouseno != null" >
        #{mphouseno,jdbcType=VARCHAR},
      </if>
      <if test="maddress != null" >
        #{maddress,jdbcType=VARCHAR},
      </if>
      <if test="mahouseno != null" >
        #{mahouseno,jdbcType=VARCHAR},
      </if>
      <if test="mcompanyname != null" >
        #{mcompanyname,jdbcType=VARCHAR},
      </if>
      <if test="mcompanyaddr != null" >
        #{mcompanyaddr,jdbcType=VARCHAR},
      </if>
      <if test="maritalstatus != null" >
        #{maritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="marriageno != null" >
        #{marriageno,jdbcType=VARCHAR},
      </if>
      <if test="marriagedate != null" >
        #{marriagedate,jdbcType=DATE},
      </if>
      <if test="haschild != null" >
        #{haschild,jdbcType=VARCHAR},
      </if>
      <if test="isadopted != null" >
        #{isadopted,jdbcType=VARCHAR},
      </if>
      <if test="residenceno != null" >
        #{residenceno,jdbcType=VARCHAR},
      </if>
      <if test="getresidencedate != null" >
        #{getresidencedate,jdbcType=DATE},
      </if>
      <if test="registrationaddr != null" >
        #{registrationaddr,jdbcType=VARCHAR},
      </if>
      <if test="serviceno != null" >
        #{serviceno,jdbcType=VARCHAR},
      </if>
      <if test="registrationdate != null" >
        #{registrationdate,jdbcType=DATE},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="opphone != null" >
        #{opphone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="zhunshengzheng != null" >
        #{zhunshengzheng,jdbcType=VARCHAR},
      </if>
      <if test="lastservicetime != null" >
        #{lastservicetime,jdbcType=DATE},
      </if>
      <if test="lastserviceresult != null" >
        #{lastserviceresult,jdbcType=VARCHAR},
      </if>
      <if test="lastserviceperson != null" >
        #{lastserviceperson,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="fnjsw.entity.OnechildarchivesExample" resultType="java.lang.Integer" >
    select count(*) from onechildarchives
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update onechildarchives
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fname != null" >
        fName = #{record.fname,jdbcType=VARCHAR},
      </if>
      <if test="record.fidcardno != null" >
        fIdCardNo = #{record.fidcardno,jdbcType=VARCHAR},
      </if>
      <if test="record.fphone != null" >
        fPhone = #{record.fphone,jdbcType=VARCHAR},
      </if>
      <if test="record.marriageidno != null" >
        marriageIdNo = #{record.marriageidno,jdbcType=VARCHAR},
      </if>
      <if test="record.fpermanentaddress != null" >
        fPermanentAddress = #{record.fpermanentaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.fphouseno != null" >
        fpHouseNo = #{record.fphouseno,jdbcType=VARCHAR},
      </if>
      <if test="record.faddress != null" >
        fAddress = #{record.faddress,jdbcType=VARCHAR},
      </if>
      <if test="record.fahouseno != null" >
        faHouseNo = #{record.fahouseno,jdbcType=VARCHAR},
      </if>
      <if test="record.fcompanyname != null" >
        fCompanyName = #{record.fcompanyname,jdbcType=VARCHAR},
      </if>
      <if test="record.fcompanyaddr != null" >
        fCompanyAddr = #{record.fcompanyaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.mname != null" >
        mName = #{record.mname,jdbcType=VARCHAR},
      </if>
      <if test="record.midcardno != null" >
        mIdCardNo = #{record.midcardno,jdbcType=VARCHAR},
      </if>
      <if test="record.mphone != null" >
        mPhone = #{record.mphone,jdbcType=VARCHAR},
      </if>
      <if test="record.mpermanentaddress != null" >
        mPermanentAddress = #{record.mpermanentaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.mphouseno != null" >
        mpHouseNo = #{record.mphouseno,jdbcType=VARCHAR},
      </if>
      <if test="record.maddress != null" >
        mAddress = #{record.maddress,jdbcType=VARCHAR},
      </if>
      <if test="record.mahouseno != null" >
        maHouseNo = #{record.mahouseno,jdbcType=VARCHAR},
      </if>
      <if test="record.mcompanyname != null" >
        mCompanyName = #{record.mcompanyname,jdbcType=VARCHAR},
      </if>
      <if test="record.mcompanyaddr != null" >
        mCompanyAddr = #{record.mcompanyaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.maritalstatus != null" >
        maritalStatus = #{record.maritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.marriageno != null" >
        marriageNo = #{record.marriageno,jdbcType=VARCHAR},
      </if>
      <if test="record.marriagedate != null" >
        marriageDate = #{record.marriagedate,jdbcType=DATE},
      </if>
      <if test="record.haschild != null" >
        hasChild = #{record.haschild,jdbcType=VARCHAR},
      </if>
      <if test="record.isadopted != null" >
        isAdopted = #{record.isadopted,jdbcType=VARCHAR},
      </if>
      <if test="record.residenceno != null" >
        residenceNo = #{record.residenceno,jdbcType=VARCHAR},
      </if>
      <if test="record.getresidencedate != null" >
        getResidenceDate = #{record.getresidencedate,jdbcType=DATE},
      </if>
      <if test="record.registrationaddr != null" >
        registrationAddr = #{record.registrationaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceno != null" >
        serviceNo = #{record.serviceno,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationdate != null" >
        registrationDate = #{record.registrationdate,jdbcType=DATE},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.opphone != null" >
        opPhone = #{record.opphone,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.zhunshengzheng != null" >
        zhunShengZheng = #{record.zhunshengzheng,jdbcType=VARCHAR},
      </if>
      <if test="record.lastservicetime != null" >
        lastServiceTime = #{record.lastservicetime,jdbcType=DATE},
      </if>
      <if test="record.lastserviceresult != null" >
        lastServiceResult = #{record.lastserviceresult,jdbcType=VARCHAR},
      </if>
      <if test="record.lastserviceperson != null" >
        lastServicePerson = #{record.lastserviceperson,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update onechildarchives
    set id = #{record.id,jdbcType=INTEGER},
      fName = #{record.fname,jdbcType=VARCHAR},
      fIdCardNo = #{record.fidcardno,jdbcType=VARCHAR},
      fPhone = #{record.fphone,jdbcType=VARCHAR},
      marriageIdNo = #{record.marriageidno,jdbcType=VARCHAR},
      fPermanentAddress = #{record.fpermanentaddress,jdbcType=VARCHAR},
      fpHouseNo = #{record.fphouseno,jdbcType=VARCHAR},
      fAddress = #{record.faddress,jdbcType=VARCHAR},
      faHouseNo = #{record.fahouseno,jdbcType=VARCHAR},
      fCompanyName = #{record.fcompanyname,jdbcType=VARCHAR},
      fCompanyAddr = #{record.fcompanyaddr,jdbcType=VARCHAR},
      mName = #{record.mname,jdbcType=VARCHAR},
      mIdCardNo = #{record.midcardno,jdbcType=VARCHAR},
      mPhone = #{record.mphone,jdbcType=VARCHAR},
      mPermanentAddress = #{record.mpermanentaddress,jdbcType=VARCHAR},
      mpHouseNo = #{record.mphouseno,jdbcType=VARCHAR},
      mAddress = #{record.maddress,jdbcType=VARCHAR},
      maHouseNo = #{record.mahouseno,jdbcType=VARCHAR},
      mCompanyName = #{record.mcompanyname,jdbcType=VARCHAR},
      mCompanyAddr = #{record.mcompanyaddr,jdbcType=VARCHAR},
      maritalStatus = #{record.maritalstatus,jdbcType=VARCHAR},
      marriageNo = #{record.marriageno,jdbcType=VARCHAR},
      marriageDate = #{record.marriagedate,jdbcType=DATE},
      hasChild = #{record.haschild,jdbcType=VARCHAR},
      isAdopted = #{record.isadopted,jdbcType=VARCHAR},
      residenceNo = #{record.residenceno,jdbcType=VARCHAR},
      getResidenceDate = #{record.getresidencedate,jdbcType=DATE},
      registrationAddr = #{record.registrationaddr,jdbcType=VARCHAR},
      serviceNo = #{record.serviceno,jdbcType=VARCHAR},
      registrationDate = #{record.registrationdate,jdbcType=DATE},
      operator = #{record.operator,jdbcType=VARCHAR},
      opPhone = #{record.opphone,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      zhunShengZheng = #{record.zhunshengzheng,jdbcType=VARCHAR},
      lastServiceTime = #{record.lastservicetime,jdbcType=DATE},
      lastServiceResult = #{record.lastserviceresult,jdbcType=VARCHAR},
      lastServicePerson = #{record.lastserviceperson,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update onechildarchives
    set id = #{record.id,jdbcType=INTEGER},
      fName = #{record.fname,jdbcType=VARCHAR},
      fIdCardNo = #{record.fidcardno,jdbcType=VARCHAR},
      fPhone = #{record.fphone,jdbcType=VARCHAR},
      marriageIdNo = #{record.marriageidno,jdbcType=VARCHAR},
      fPermanentAddress = #{record.fpermanentaddress,jdbcType=VARCHAR},
      fpHouseNo = #{record.fphouseno,jdbcType=VARCHAR},
      fAddress = #{record.faddress,jdbcType=VARCHAR},
      faHouseNo = #{record.fahouseno,jdbcType=VARCHAR},
      fCompanyName = #{record.fcompanyname,jdbcType=VARCHAR},
      fCompanyAddr = #{record.fcompanyaddr,jdbcType=VARCHAR},
      mName = #{record.mname,jdbcType=VARCHAR},
      mIdCardNo = #{record.midcardno,jdbcType=VARCHAR},
      mPhone = #{record.mphone,jdbcType=VARCHAR},
      mPermanentAddress = #{record.mpermanentaddress,jdbcType=VARCHAR},
      mpHouseNo = #{record.mphouseno,jdbcType=VARCHAR},
      mAddress = #{record.maddress,jdbcType=VARCHAR},
      maHouseNo = #{record.mahouseno,jdbcType=VARCHAR},
      mCompanyName = #{record.mcompanyname,jdbcType=VARCHAR},
      mCompanyAddr = #{record.mcompanyaddr,jdbcType=VARCHAR},
      maritalStatus = #{record.maritalstatus,jdbcType=VARCHAR},
      marriageNo = #{record.marriageno,jdbcType=VARCHAR},
      marriageDate = #{record.marriagedate,jdbcType=DATE},
      hasChild = #{record.haschild,jdbcType=VARCHAR},
      isAdopted = #{record.isadopted,jdbcType=VARCHAR},
      residenceNo = #{record.residenceno,jdbcType=VARCHAR},
      getResidenceDate = #{record.getresidencedate,jdbcType=DATE},
      registrationAddr = #{record.registrationaddr,jdbcType=VARCHAR},
      serviceNo = #{record.serviceno,jdbcType=VARCHAR},
      registrationDate = #{record.registrationdate,jdbcType=DATE},
      operator = #{record.operator,jdbcType=VARCHAR},
      opPhone = #{record.opphone,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      zhunShengZheng = #{record.zhunshengzheng,jdbcType=VARCHAR},
      lastServiceTime = #{record.lastservicetime,jdbcType=DATE},
      lastServiceResult = #{record.lastserviceresult,jdbcType=VARCHAR},
      lastServicePerson = #{record.lastserviceperson,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="fnjsw.entity.Onechildarchives" >
    update onechildarchives
    <set >
      <if test="fname != null" >
        fName = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fidcardno != null" >
        fIdCardNo = #{fidcardno,jdbcType=VARCHAR},
      </if>
      <if test="fphone != null" >
        fPhone = #{fphone,jdbcType=VARCHAR},
      </if>
      <if test="marriageidno != null" >
        marriageIdNo = #{marriageidno,jdbcType=VARCHAR},
      </if>
      <if test="fpermanentaddress != null" >
        fPermanentAddress = #{fpermanentaddress,jdbcType=VARCHAR},
      </if>
      <if test="fphouseno != null" >
        fpHouseNo = #{fphouseno,jdbcType=VARCHAR},
      </if>
      <if test="faddress != null" >
        fAddress = #{faddress,jdbcType=VARCHAR},
      </if>
      <if test="fahouseno != null" >
        faHouseNo = #{fahouseno,jdbcType=VARCHAR},
      </if>
      <if test="fcompanyname != null" >
        fCompanyName = #{fcompanyname,jdbcType=VARCHAR},
      </if>
      <if test="fcompanyaddr != null" >
        fCompanyAddr = #{fcompanyaddr,jdbcType=VARCHAR},
      </if>
      <if test="mname != null" >
        mName = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="midcardno != null" >
        mIdCardNo = #{midcardno,jdbcType=VARCHAR},
      </if>
      <if test="mphone != null" >
        mPhone = #{mphone,jdbcType=VARCHAR},
      </if>
      <if test="mpermanentaddress != null" >
        mPermanentAddress = #{mpermanentaddress,jdbcType=VARCHAR},
      </if>
      <if test="mphouseno != null" >
        mpHouseNo = #{mphouseno,jdbcType=VARCHAR},
      </if>
      <if test="maddress != null" >
        mAddress = #{maddress,jdbcType=VARCHAR},
      </if>
      <if test="mahouseno != null" >
        maHouseNo = #{mahouseno,jdbcType=VARCHAR},
      </if>
      <if test="mcompanyname != null" >
        mCompanyName = #{mcompanyname,jdbcType=VARCHAR},
      </if>
      <if test="mcompanyaddr != null" >
        mCompanyAddr = #{mcompanyaddr,jdbcType=VARCHAR},
      </if>
      <if test="maritalstatus != null" >
        maritalStatus = #{maritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="marriageno != null" >
        marriageNo = #{marriageno,jdbcType=VARCHAR},
      </if>
      <if test="marriagedate != null" >
        marriageDate = #{marriagedate,jdbcType=DATE},
      </if>
      <if test="haschild != null" >
        hasChild = #{haschild,jdbcType=VARCHAR},
      </if>
      <if test="isadopted != null" >
        isAdopted = #{isadopted,jdbcType=VARCHAR},
      </if>
      <if test="residenceno != null" >
        residenceNo = #{residenceno,jdbcType=VARCHAR},
      </if>
      <if test="getresidencedate != null" >
        getResidenceDate = #{getresidencedate,jdbcType=DATE},
      </if>
      <if test="registrationaddr != null" >
        registrationAddr = #{registrationaddr,jdbcType=VARCHAR},
      </if>
      <if test="serviceno != null" >
        serviceNo = #{serviceno,jdbcType=VARCHAR},
      </if>
      <if test="registrationdate != null" >
        registrationDate = #{registrationdate,jdbcType=DATE},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="opphone != null" >
        opPhone = #{opphone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="zhunshengzheng != null" >
        zhunShengZheng = #{zhunshengzheng,jdbcType=VARCHAR},
      </if>
      <if test="lastservicetime != null" >
        lastServiceTime = #{lastservicetime,jdbcType=DATE},
      </if>
      <if test="lastserviceresult != null" >
        lastServiceResult = #{lastserviceresult,jdbcType=VARCHAR},
      </if>
      <if test="lastserviceperson != null" >
        lastServicePerson = #{lastserviceperson,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="fnjsw.entity.Onechildarchives" >
    update onechildarchives
    set fName = #{fname,jdbcType=VARCHAR},
      fIdCardNo = #{fidcardno,jdbcType=VARCHAR},
      fPhone = #{fphone,jdbcType=VARCHAR},
      marriageIdNo = #{marriageidno,jdbcType=VARCHAR},
      fPermanentAddress = #{fpermanentaddress,jdbcType=VARCHAR},
      fpHouseNo = #{fphouseno,jdbcType=VARCHAR},
      fAddress = #{faddress,jdbcType=VARCHAR},
      faHouseNo = #{fahouseno,jdbcType=VARCHAR},
      fCompanyName = #{fcompanyname,jdbcType=VARCHAR},
      fCompanyAddr = #{fcompanyaddr,jdbcType=VARCHAR},
      mName = #{mname,jdbcType=VARCHAR},
      mIdCardNo = #{midcardno,jdbcType=VARCHAR},
      mPhone = #{mphone,jdbcType=VARCHAR},
      mPermanentAddress = #{mpermanentaddress,jdbcType=VARCHAR},
      mpHouseNo = #{mphouseno,jdbcType=VARCHAR},
      mAddress = #{maddress,jdbcType=VARCHAR},
      maHouseNo = #{mahouseno,jdbcType=VARCHAR},
      mCompanyName = #{mcompanyname,jdbcType=VARCHAR},
      mCompanyAddr = #{mcompanyaddr,jdbcType=VARCHAR},
      maritalStatus = #{maritalstatus,jdbcType=VARCHAR},
      marriageNo = #{marriageno,jdbcType=VARCHAR},
      marriageDate = #{marriagedate,jdbcType=DATE},
      hasChild = #{haschild,jdbcType=VARCHAR},
      isAdopted = #{isadopted,jdbcType=VARCHAR},
      residenceNo = #{residenceno,jdbcType=VARCHAR},
      getResidenceDate = #{getresidencedate,jdbcType=DATE},
      registrationAddr = #{registrationaddr,jdbcType=VARCHAR},
      serviceNo = #{serviceno,jdbcType=VARCHAR},
      registrationDate = #{registrationdate,jdbcType=DATE},
      operator = #{operator,jdbcType=VARCHAR},
      opPhone = #{opphone,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      zhunShengZheng = #{zhunshengzheng,jdbcType=VARCHAR},
      lastServiceTime = #{lastservicetime,jdbcType=DATE},
      lastServiceResult = #{lastserviceresult,jdbcType=VARCHAR},
      lastServicePerson = #{lastserviceperson,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="fnjsw.entity.Onechildarchives" >
    update onechildarchives
    set fName = #{fname,jdbcType=VARCHAR},
      fIdCardNo = #{fidcardno,jdbcType=VARCHAR},
      fPhone = #{fphone,jdbcType=VARCHAR},
      marriageIdNo = #{marriageidno,jdbcType=VARCHAR},
      fPermanentAddress = #{fpermanentaddress,jdbcType=VARCHAR},
      fpHouseNo = #{fphouseno,jdbcType=VARCHAR},
      fAddress = #{faddress,jdbcType=VARCHAR},
      faHouseNo = #{fahouseno,jdbcType=VARCHAR},
      fCompanyName = #{fcompanyname,jdbcType=VARCHAR},
      fCompanyAddr = #{fcompanyaddr,jdbcType=VARCHAR},
      mName = #{mname,jdbcType=VARCHAR},
      mIdCardNo = #{midcardno,jdbcType=VARCHAR},
      mPhone = #{mphone,jdbcType=VARCHAR},
      mPermanentAddress = #{mpermanentaddress,jdbcType=VARCHAR},
      mpHouseNo = #{mphouseno,jdbcType=VARCHAR},
      mAddress = #{maddress,jdbcType=VARCHAR},
      maHouseNo = #{mahouseno,jdbcType=VARCHAR},
      mCompanyName = #{mcompanyname,jdbcType=VARCHAR},
      mCompanyAddr = #{mcompanyaddr,jdbcType=VARCHAR},
      maritalStatus = #{maritalstatus,jdbcType=VARCHAR},
      marriageNo = #{marriageno,jdbcType=VARCHAR},
      marriageDate = #{marriagedate,jdbcType=DATE},
      hasChild = #{haschild,jdbcType=VARCHAR},
      isAdopted = #{isadopted,jdbcType=VARCHAR},
      residenceNo = #{residenceno,jdbcType=VARCHAR},
      getResidenceDate = #{getresidencedate,jdbcType=DATE},
      registrationAddr = #{registrationaddr,jdbcType=VARCHAR},
      serviceNo = #{serviceno,jdbcType=VARCHAR},
      registrationDate = #{registrationdate,jdbcType=DATE},
      operator = #{operator,jdbcType=VARCHAR},
      opPhone = #{opphone,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      zhunShengZheng = #{zhunshengzheng,jdbcType=VARCHAR},
      lastServiceTime = #{lastservicetime,jdbcType=DATE},
      lastServiceResult = #{lastserviceresult,jdbcType=VARCHAR},
      lastServicePerson = #{lastserviceperson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="MySqlDialectPrefix" >
    <if test="page != null" >
    </if>
  </sql>
  <sql id="MySqlDialectSuffix" >
    <if test="page != null" >
      limit #{page.begin}, #{page.end}
    </if>
  </sql>
</mapper>
